body{
    background: black;
    text-align: center;
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 35%;
    height: 10%;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
}
.search-container{
    width: 40%;
    margin-top: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(19, 19, 19);
    border: 0.5px solid grey;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 10px;
}
.bar{
    width: 80%;
    background: transparent;
    border: none;
    color: white;
}
.bar:focus{
    outline-width: 0;
}
.bar::placeholder{
    color: grey;
}
.pseudo{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
}
.wheel{
    width: 24px;
    height: 24px;
    margin-top: 8px;
    margin-left: 1px;
    background: rgba(0, 0, 0, 0) url('../assets/wheel.png') no-repeat center center / cover;
}

.pseudo:hover .wheel{
    animation: rotation 2s infinite linear;
    
}  
.gotext{
    font-size: 33px;  
}                                                 
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.results-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.results{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    max-height: 450px;
    max-width: 300px;
    height: 450px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.poster{
    max-height: 360px;
    max-width: 240px;
    height: 360px;
    width: 240px;
    border: 3px solid lightgrey;
    border-radius: 20px;
}

.poster:hover{
    filter: opacity(0.5);
    transition-duration: 200ms;
}

.showmore{
    width: 35%;
    height: 40px;
    background:rgb(19, 19, 19);
    border:none;
    display: none;
    color: white;
    text-align: center;
    font-size: 16px;
    align-self: center;
}

@media only screen and (max-width: 767px) {
    .logo{
        width: 60%;
        height: 25%;
    }
    .search-container{
        padding-left: 20px;
    }
}
